*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background: #001;
    color: white;
}
:root{
    font-family: sans-serif;
}
header{
    padding: 2em;
    background: #003;
}
nav{
    margin: 20px;

}
nav a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}
[type="text"],
textarea{
    display: inline-block;
    padding: 10px 5px;
    background: #003;
    width: 100%;
    color: white;
    font-size: 18px;
    transition: .5s;
    border: none;
    outline: none;
    margin: 5px 0px;
    resize: none;
}
[type="text"]:focus{
    padding-bottom: 30px;
}
.btn-custom{
    width: 100%;
    padding: 15px 8px;
    border: none;
    outline: none;
    background: #003;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}




/*...........contact info style...........*/

.nl_contact{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 220px;
    padding: 15px;
    border: solid;
    color: white;
    background: rgba(0, 0, 255,.6);
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 50px 2px black;
    user-select: none;
}
.nl_contact ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}